<mobile-header></mobile-header>

<div class="title-wrap">
    <h1 class="title">Welcome</h1>
    <h2 class="sub">@unisa</h2>
</div>

<div class="card-carousel">
    <div class="card" style="width: 8rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
</div>

<mobile-navbar></mobile-navbar>